@media (max-width: 1200px)
  .container
    max-width: 960px
    &--small
      max-width: 622px
  .navbar
    &__button
      width: 200px
  .main
    &-article
      &__promo
        min-width: 700px
        padding-right: 170px
  .other-articles
    grid-template: repeat(8, 1fr) / repeat(4, 1fr)
    grid-template-areas: "card-1 card-1 card-1 card-1" "card-1 card-1 card-1 card-1" "card-2 card-2 card-5 card-5" "card-2 card-2 card-5 card-5" "card-6 card-6 card-7 card-7" "card-8 card-8 card-9 card-9" "card-4 card-4 card-3 card-3" "card-4 card-4 card-10 card-10"
  .card
    display: flex
    flex-direction: column
    &:not(:nth-child(4))
      justify-content: space-between
    &-news
      display: block
      width: auto
    &-social
      padding: 20px 20px 30px 20px
      &__title
        margin-bottom: 10px
    &__wrapper
      &--middle
        width: auto
        height: 220px
    &--image
      padding-top: 100px
  .check-list
    &__top
      padding: 15px 20px 20px 20px
  .tags
    &__wrapper
      justify-content: space-around
  .main
    &-news
      &__wrapper
        padding-right: 20px
        padding-left: 20px
  .news
    &__list
      max-width: 675px
    &__image
      &-wrapper
        max-height: 300px
        min-width: 170px
  .articles
    &-slider
      grid-row: 1 / 3
      grid-column: 1 / 4
      width: 100%
  .big-article
    grid-row: 3 / 4
    grid-column: 1 / 5
  .small-article
    height: auto
  .useful
    &-article
      &__image
        left: auto
        width: auto
  .footer
    &-nav
      grid-template-columns: repeat(6, 1fr)
      margin-bottom: 0
  .container
    &--small
      margin-left: 0
  .main-screen
    &__bookmark
      left: auto
      right: 40px
      top: 35px
  .content
    &__materials
      right: 0
    &-slider
      &__image
        &-wrapper
          height: 450px
@media (max-width: 992px)
  .container
    max-width: 720px
    &--flex
      flex-wrap: wrap
  .logo
    width: 90px
    height: auto
  .navbar
    &-menu
      &__item
        padding-right: 15px
      &__link
        &:hover
          &::after
            display: none
    &__button
      width: 150px
      font-size: 12px
      &:hover
        background-color: #656B70
  .main
    &-article
      &__promo
        min-width: 450px
        max-width: 450px
        padding: 35px
      &__title
        font-size: 36px
  .recommendations
    &__title
      padding: 15px 15px 15px 15px
    &__item
      padding: 15px 15px 15px 15px
      height: 90px
      &:last-child
        height: 90px
  .link
    &:hover
      color: $dark
    &--light
      &:hover
        color: $light !important
  .popular
    &-articles
      overflow-x: auto 
      &__item
        min-width: 50%
  .other-articles
    grid-template: repeat(8, 1fr) / repeat(4, 1fr)
    grid-template-areas: "card-1 card-1 card-1 card-1" "card-1 card-1 card-1 card-1" "card-2 card-2 card-5 card-5" "card-2 card-2 card-5 card-5" "card-6 card-6 card-7 card-7" "card-8 card-8 card-9 card-9" "card-10 card-10 card-3 card-3" "card-4 card-4 card-4 card-4"
    .card
      &:nth-child(3)
        justify-content: center
      &:nth-child()
        display: none
      &__title
        &--while
          &:hover
            color: $light
    .tags
      &__wrapper
        padding-left: 10px
        padding-top: 15px
    .card
      &-social
        &__icon
          &:hover
            transform: scale(1)
  .link
    &--while
      &:hover
        color: $light
  .button
    &:hover
      background-color: $primary
  .main
    &-news
      &__wrapper
        padding-right: 0
        padding-left: 0
      &__title
        font-size: 30px
        line-height: 35px
  .news
    &__list
      width: 100%
      max-width: 100%
      margin-bottom: 30px
    &__image
      &-wrapper
        min-width: 300px
    &__item
      height: 350px
  .latest
    &-news
      max-width: 100%
      &__list
        display: flex
        flex-wrap: wrap
        overflow-x: auto
        height: 240px
      &__item
        width: 100%
        height: 50%
      &__image
        &-wrapper
          min-width: 100px
          min-height: 100px
  .bookmark
    &__icon
      &:hover
        fill: #939699 !important
  .useful
    &-articles
      &__grid
        grid-template-rows: 1fr 230px 350px
  .articles
    &-slider
      grid-column: 1 / 5
      grid-row: span 1
      width: 100%
      height: 500px
      &__slide
        padding-bottom: 80px
  .small-article
    grid-row: 2 / 3
    grid-column: span 2
  .footer
    &-form
      &__title
        font-size: 30px
    &-nav
      grid-template-columns: repeat(3, 1fr)
    &-other
      flex-wrap: wrap
      justify-content: center
      padding-bottom: 25px
      &__text:not(:last-child)
        margin-bottom: 40px
    &-communication
      &__wrapper
        flex-wrap: wrap
        justify-content: center
      &__list
        margin-bottom: 35px
        justify-content: space-between
        flex-basis: 100%
      &__link
        margin-right: 0
  .main-screen
    padding-bottom: 115px
    &__bookmark
      position: static
      margin-bottom: 10px
    &__author
      right: 50%
      left: 50%
      transform: translateX(-50%)
      bottom: -330px
    &__title
      width: auto
      font-size: 40px
      line-height: 50px
    &__text
      width: auto
  .bookmark
    fill: #939699 !important
  .container
    &--small
      max-width: 600px
  .content
    padding-top: 245px
    padding-bottom: 30px
  .main-screen
    &__link
      color: $light !important
    &__icon, &__icon-left, &__icon-right
      fill: $light !important
  .other-news
    &__item
      grid-column: span 2
  .materials
    position: static
    float: right
    margin-left: 25px
    margin-bottom: 25px
@media (max-width: 768px)
  body
    margin-top: 56px
  .container
    max-width: 576px
  .navbar
    position: fixed
    top: 0
    right: 0
    left: 0
    z-index: 10
    &-menu
      &__list
        &--mobile
          &--hidden
            display: none
    &__button
      &--mobile
        &--hidden
          display: none
  .burger-button
    position: relative
    display: flex
    width: 16px
    min-height: 11px
    max-height: 11px
    padding: 0
    align-items: center
    justify-content: space-between
    flex-direction: column
    border: none
    background-color: inherit
    cursor: pointer
    &::after
      content: ''
      position: absolute
      top: 0
      width: 16px
      height: 1px
      background-color: $light
      transition: 0.4s
    &::before
      content: ''
      position: absolute
      bottom: 0
      width: 16px
      height: 1px
      background-color: $light
      transition: 0.4s
    &__line
      position: absolute
      top: 5px
      width: 16px
      height: 1px
      background-color: $light
    &--active &__line
        transform: rotate(-38deg)
        opacity: 0
        transition: 0.4s
    &--active
      &::after
        transform: rotate(-38deg)
        top: 5px
        transition: 0.4s
      &::before
        transform: rotate(38deg)
        bottom: 5px
        transition: 0.4s
    &--dark
      &::after, &::before, & .burger-button__line
        background-color: $dark
  .main
    padding-top: 30px
    margin-top: 0
    &__wrapper
      height: 405px
    &-article
      &__promo
        min-width: 400px
        max-width: 400px
        padding: 35px
      &__title
        font-size: 24px
        line-height: 40px
  .recommendations
    min-width: auto
    &__list
      overflow-y: auto
      height: 350px
    &__item
      height: 50%
      &:last-child
        height: 50%
    &__text
      height: auto
  .other-articles
    grid-template: repeat(12, 1fr) / repeat(4, 1fr)
    grid-template-areas: "card-1 card-1 card-1 card-1" "card-1 card-1 card-1 card-1" "card-2 card-2 card-2 card-2" "card-2 card-2 card-2 card-2" "card-5 card-5 card-5 card-5" "card-5 card-5 card-5 card-5" "card-6 card-6 card-6 card-6" "card-7 card-7 card-7 card-7" "card-8 card-8 card-8 card-8" "card-9 card-9 card-9 card-9" "card-3 card-3 card-10 card-10" "card-4 card-4 card-4 card-4"
  .card
    &__wrapper
      &--middle
        height: 300px
  .tag
    font-size: 12px
    margin-right: 5px
    margin-bottom: 5px
  .news
    &__image
      &-wrapper
        min-width: 220px
  .footer
    &-communication
      &__social
        &-link
          &:hover
            transform: scale(1)
  .content
    &-slider
      &__text
        margin-right: 10px
      &__image
        &-wrapper
          height: 370px
@media (max-width: 610px)
  .container
     width: 88%
  .main
    &-article
      &__promo
        min-width: auto
        width: 100%
      &__title
        font-size: 22px
        line-height: 30px
  .recommendations
    width: 30%
    &__title
      font-size: 11px
  .popular
    &-articles
      &__item
        min-width: 100%
        justify-content: space-evenly
        padding-right: 0 !important
        padding-left: 0 !important
      &__title
        margin-right: 50px
  .card
    &-news
      &__bg
        display: none
      &__wrapper
        border-bottom: none
        padding-right: 70px
    &-social
      padding: 15px
      justify-content: space-evenly !important
    &__wrapper
      &--middle
        height: 230px
    &__bottom
      display: none
  .other-articles
    display: flex
    flex-direction: column
  .tags
    &__title
      margin: 10px 15px
  .tag
    margin-bottom: 15px
  .main
    &-news
      &__title
        font-size: 20px
        line-height: 24px
  .news
    &__data
      flex-wrap: wrap
    &__date
      flex-basis: 100%
      margin-top: 10px
      order: 1
    &__title
      font-size: 16px
    &__item
      flex-direction: column
      height: 500px
    &__text
      display: none
    &__image
      position: absolute
      &-wrapper
        max-height: 270px
        min-width: 100%
        height: 100%
  .bookmark
    &__icon
      top: initial
      bottom: 0
  .big-article
    padding-right: 220px
  .useful
    &-article
      &__title
        font-size: 16px
        line-height: 25px
        margin-bottom: 5px
  .articles
    &-slider
      &__title
        font-size: 24px
        line-height: 30px
  .footer
    &-nav
      grid-template-columns: repeat(2, 1fr)
    &-form
      &__title
        font-size: 20px
        line-height: 24px
      &__wrapper
        flex-wrap: wrap
        justify-content: center
      &__input
        flex-basis: 100%
        margin-bottom: 25px
        width: auto
    &-communication
      &__logo
        display: none
      &__list
        flex-wrap: wrap
        justify-content: flex-start
      &__link
        margin-bottom: 15px
        flex-basis: 50%
  .main-screen
    &__title
      font-size: 30px
      line-height: 40px
  .materials
    float: none
    order: 1
    margin-left: 0
  .container
    &--small, &--middle
      width: 100%
  .other-news
    &__item
      grid-column: span 4
      display: flex
    &__image
      min-height: 100%
      min-width: 100%
      object-fit: cover
      &-wrapper
        min-height: 150px
        min-width: 150px
        max-height: 150px
        max-width: 150px
        margin-bottom: 0
        margin-right: 20px
  .content
    &-slider
      &__wrapper
        flex-wrap: wrap
      &__text
        border-bottom: 1px solid #D9DADB
        flex-basis: 100%
        margin-right: 0
        padding-right: 15px
        padding-top: 15px
        padding-bottom: 15px
      &__author
        border-left: none
@media (max-width: 470px)
  .main
    &-article
      flex-direction: column
      &__promo
        height: 350px
        min-width: 100%
      &__category
        display: none
      &__title
        font-size: 20px
    &__wrapper
      height: 500px
  .recommendations
    width: 100%
    &__list
      display: flex
      height: 130px
    &__item
      height: 100%
      min-width: 50%
      border-bottom: none
      padding: 10px
      border-right: 1px solid #D9DADB
      &:last-child
        height: 100%
        border-right: none
    &__text
      font-size: 13px
  .check-list
    &__title
      font-size: 14px
  .card
    &-news
      &__wrapper
        padding: 30px
  .popular
    &-articles
      &__item
        &:not(:last-child)
          margin-right: 25px
          padding-right: 35px !important
      &__title
        margin-right: 5px
        width: 150px
  .useful
    &-articles
      &__grid
        grid-template-rows: 1fr 230px 230px 300px
    &-article
      &__image
        display: none
  .small-article
    grid-row: auto
    grid-column: span 4
  .big-article
    grid-row: 4 / 5
    padding: 30px
  .modal
    &__dialog, &__status
      max-width: 85%
      min-width: 85%
      padding: 25px
  .main-screen
    padding-top: 30px
    &__top
      flex-wrap: wrap
    &__category
      flex-basis: 100%
      order: 1
    &__wrapper
      width: 100%
      margin-bottom: 50px
    &__home
      margin-right: auto
  .content
    &__tags
      flex-wrap: wrap
    &-social
      display: flex
      flex-direction: column
      align-items: center
      &__title
        font-size: 24px
      &__wrapper
        flex-wrap: wrap
        justify-content: center
      &__button
        flex-basis: 55%
        margin-bottom: 25px
        margin-right: 0 !important
        width: 130px
        &:last-child
          margin-bottom: 0
@media (max-width: 360px)
  .footer
    &-nav
      grid-template-columns: repeat(1, 1fr)